{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Doa Karena Sebab" %}
{% set other_sebab = true %}

{% block content %}
<section class="mt-8">
    <div class="heading">
        <span class="number">1</span>
        <h3>Ketika mendapatkan kenikmatan</h3>
    </div>
    <div class="card">
        <p class="doa">اَلْحَمْدُ لِلَّهِ الَّذِي بِنِعْمَتِهِ تَتِمُّ الصَّالِحَاتُ</p>
        <p class="mt-5">"Segala puji bagi Allah yang dengan nikmat-Nya segala amal saleh sempurna."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3616-bacaan-ketika-mendapatkan-yang-menyenangkan.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">2</span>
        <h3>Ketika melihat karunia orang lain</h3>
    </div>
    <div class="card">
        <p class="doa">اللّٰهُمَّ زِدْهُ مِنْ فَضْلِكَ وَأَعْطِنِيْ أَفْضَلَ مِنْهُ</p>
        <p class="mt-5">"Ya Allah, tambahkanlah karunia-Mu kepada saudaraku tersebut dan berilah aku karunia yang lebih utama darinya."</p>
        <p class="text-xs mt-4 opacity-60">Syaikh Muhammad bin Shalih al-Utsaimin rahimahullah:</p>
        <p class="text-xs mt-2 opacity-60">Apabila engkau melihat Allah menganugerahi seorang hamba suatu kenikmatan, berupayalah untuk menempuh sebab supaya engkau menjadi sepertinya. Janganlah engkau membenci (merasa tidak suka) atas apa yang Allah karuniakan kepada saudaramu. Berdoalah kepada Allah. Karena Allah telah berfirman: "Mohonlah kepada Allah bagian dari karunia-Nya!" (Qs. An-Nisa: 32)</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://shahihfiqih.com/jika-timbul-hasad-pada-dirimu-atas-nikmat-yang-didapat-saudaramu/" class="underline">SahihFiqih</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">3</span>
        <h3>Ketika ragu takut sial</h3>
    </div>
    <div class="card">
        <p class="doa">اَللَّهُمَّ لاَ طَيْرَ إِلاَّ طَيْرُكَ، وَلاَ خَيْرَ إِلاَّ خَيْرُكَ، وَلاَ إِلَـٰهَ غَيْرُكَ</p>
        <p class="mt-5">"Ya Allah, tidak ada kesialan kecuali kesialan yang Engkau tentukan, dan tidak ada kebaikan kecuali kebaikanMu, serta tidak ada sesembahan yang berhak disembah kecuali Engkau."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3624-doa-ketika-ragu-bertindak-karena-takut-sial.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">4</span>
        <h3>Ketika melihat orang lain ditimpa musibah</h3>
    </div>
    <div class="card">
        <p class="doa">اَلْحَمْدُ لِلَّهِ الَّذِيْ عَافَانِيْ مِمَّا ابْتَلَاكَ بِهِ، وَفَضَّلَنِيْ عَلَى كَثِيْرٍ مِمَّنْ خَلَقَ تَفْضِيْلاً</p>
        <p class="mt-5">"Segala puji bagi Allah yang telah menghindarkanku dari musibah yang menimpamu, serta memberikan kelebihan kepadaku atas sekian banyak ciptaan-Nya."</p>
        <p class="text-xs mt-4 opacity-60">H.R. Tirmidzi no.3432 dan dishahihkan oleh Al-Albani dan Ibnu Majah no.3892, dihasankan oleh Al-Albani. Rasulullah bersabda: "Tidaklah seseorang melihat orang yang tertimpa suatu bala' atau musibah, lalu membaca doa ini, melainkan dia akan terhindar dari bala' tersebut setelahnya."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3613-doa-ketika-melihat-orang-lain-yang-terkena-musibah-cobaan.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">5</span>
        <h3>Ketika ditimpa musibah</h3>
    </div>
    <div class="card">
        <p class="doa">إِنَّا لِلَّهِ وَإِنَّا إِلَيْهِ رَاجِعُوْنَ، اَللَّهُمَّ أْجُرْنِيْ فِيْ مُصِيْبَتِيْ وَأَخْلِفْ لِيْ خَيْرًا مِنْهَا</p>
        <p class="mt-5">"Sesungguhnya kami milik Allah dan kepadaNya kami akan kembali. Ya Allah, berilah pahala kepadaku dan gantilah untukku dengan yang lebih baik (dari musibahku)."</p>
        <p class="text-xs mt-4 opacity-60">H.R. Muslim no. 918. Ummu Salamah berkata: "Aku mendengar Rasulullah bersabda: “Tidaklah seorang hamba tertimpa musibah kemudian mengucapkan doa ini, melainkan Allah akan memberikan pahala atas musibahnya dan menggantikannya dengan yang lebih baik darinya.” Ketika Abu Salamah meninggal dunia, aku mengucapkan doa ini. Lalu  Allah menggantikannya dengan yang lebih baik darinya yaitu Rasulullah."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3612-doa-ketika-ditimpa-musibah-atau-yang-tidak-diharapkan.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">6</span>
        <h3>Ketika membayar hutang</h3>
    </div>
    <div class="card">
        <p class="doa">بَارَكَ اللَّهُ لَكَ فِيْ أَهْلِكَ وَمَالِكَ</p>
        <p class="mt-5">"Semoga Allah memberikan berkah kepadamu pada keluarga dan hartamu."</p>
        <p class="text-xs mt-4 opacity-60">"... sesungguhnya balasan kepada memberi hutangan adalah pujian dan pelunasan."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3605-doa-ketika-membayar-hutang.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">7</span>
        <h3>Ketika ta'ziyah / Belasungkawa</h3>
    </div>
    <div class="card">
        <p class="doa">إِنَّ لِلَّهِ مَا أَخَذَ، وَلَهُ مَا أَعْطَى وَكُلُّ شَيْءٍ عِنْدَهُ بِأَجَلٍ مُسَمًّى، فَلْتَصْبِرْ وَلْتَحْتَسِبْ</p>
        <p class="mt-5">"Sesungguhnya hak Allah adalah mengambil sesuatu dan memberikan sesuatu. Segala sesuatu yang di sisi-Nya dibatasi dengan ajal yang ditentukan. Oleh karena itu, bersabarlah dan carilah ridha Allah."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3631-doa-ketika-taziyah-belasungkaw.html" class="underline">BekalIslam</a></p>
    </div>
</section>
<section class="mt-8">
    <div class="heading">
        <span class="number">8</span>
        <h3>Ketika ziarah kubur</h3>
    </div>
    <div class="card">
        <p class="doa">اَلسَّلَامُ عَلَى أَهْلِ الدِّيَارِ مِنَ الْمُؤْمِنِيْنَ وَالْمُسْلِمِيْنَ، وَيَرْحَمُ اللَّهُ الْمُسْتَقْدِمِيْنَ مِنَّا وَالْمُسْتَأْخِرِيْنَ وَإِنَّا إِنْ شَاءَ اللَّهُ بِكُمْ لَلَاحِقُوْنَ</p>
        <p class="mt-5">"Semoga keselamatan atas kalian, wahai penghuni kubur, dari kaum mukminin dan muslimin. Semoga Allah merahmati orang-orang yang mendahului kita dan yang datang belakangan. Sesungguhnya kami insya Allah akan menyusul kalian."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3637-doa-ziarah-kubur.html" class="underline">BekalIslam</a></p>
    </div>
</section>
{% endblock %}