{% extends "_layout.html" %}

{% set child = true %}
{% set title = "Ucapan Tahniah" %}
{% set other_tahniah = true %}

{% block content %}

<section class="mt-6">
    <div class="heading">
        <span class="number">1</span>
        <h3>Hari raya</h3>
    </div>
    <div class="card">
        <p class="doa">تَقَبَّلَ اللَّهُ مِنَّا وَمِنْكُمْ</p>
        <p class="mt-5">"Semoga Allah menerima amal kami dan amal kalian."</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3643-ucapan-selamat-hari-raya.html" class="underline">BekalIslam</a></p>
    </div>
</section>

<section class="mt-8">
    <div class="heading">
        <span class="number">2</span>
        <h3>Pernikahan</h3>
    </div>
    <div class="card">
        <p class="doa">بَارَكَ اللَّهُ لَكَ وَبَارَكَ عَلَيْكَ وَجَمَعَ بَيْنَكُمَا فِيْ خَيْرٍ</p>
        <p class="mt-5">"Semoga Allah memberkahimu di waktu bahagia dan memberkahimu di waktu susah, dan semoga Allah menyatukan kalian berdua dalam kebaikan."</p>
        <p class="text-xs mt-4 opacity-60">بَارَكَ اللَّهُ لَكَ maksudnya semoga Allah subhanahu wa ta'ala memberikan keberkahan kepadamu pada pasanganmu.</p>
        <p class="text-xs mt-4 opacity-60">بَارَكَ عَلَيْكَ maksudnya semoga dimasukkan keberkahan pada setiap bekalmu dan semoga engkau dimudahkan.</p>
        <p class="text-xs mt-4 opacity-60">وَجَمَعَ بَيْنَكُمَا فِيْ خَيْرٍ maksudnya semoga kalian berdua dikumpulkan dalam ketaatan, kesehatan, keselamatan, kenikmatan, baik hubungannya, dan diberikan banyak keturunan yang saleh.</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3647-doa-pengantin.html" class="underline">BekalIslam</a></p>
    </div>
</section>

<section class="mt-8">
    <div class="heading">
        <span class="number">3</span>
        <h3>Kelahiran</h3>
    </div>
    <div class="card">
        <p class="doa">بَارَكَ اللَّهُ لَكَ فِي الْمَوْهُوْبِ لَكَ، وَشَكَرْتَ الْوَاهِبَ، وَبَلَغَ أَشُدَّهُ، وَرُزِقْتَ بِرَّهُ</p>
        <p class="mt-5">"Semoga Allah memberkahimu dalam anak yang diberikan kepadamu. Semoga kamu bersyukur kepada Sang Pemberi, dan dia dapat mencapai dewasa, serta kamu dikaruniai kebaikannya."</p>
        <p class="text-xs mt-4 opacity-60">Maksudnya adalah "Semoga Allah melimpahkan banyak kebaikan pada rezeki yang telah diberikan kepadamu."</p>
        <p class="mt-8">Dibalas dengan:</p>
        <p class="doa">بَارَكَ اللَّهُ لَكَ وَبَارَكَ عَلَيْكَ، وَجَزَاكَ اللَّهُ خَيْرًا، وَرَزَقَكَ اللَّهُ مِثْلَهُ، وَأَجْزَلَ ثَوَابَكَ</p>
        <p class="mt-5">"Semoga Allah juga memberkahimu dan melimpahkan kebahagiaan untukmu. Semoga Allah membalasmu dengan sebaik-baik balasan, mengaruniakan kepadamu seperti itu dan melipatgandakan pahalamu."</p>
        <p class="text-xs mt-4 opacity-60">Tidak ada sumber yang menjelaskan bahwa doa ini dari Rasulullah. Namun, disebutkan di dalam Al-Adzkar bahwa doa sekaligus ucapan selamat ini merupakan atsar yang datang dari Al-Husain radhiallahu 'anhu.</p>
        <p class="text-xs mt-4 opacity-60">Referensi: <a href="https://bekalislam.firanda.com/3649-doa-untuk-yang-baru-kelahiran.html" class="underline">BekalIslam</a></p>
    </div>
</section>

{% endblock %}